In [21]:
x = {"apple", "orange", "banana"}
print(x)

{'apple', 'orange', 'banana'}

In [3]:
x.add("tomato") 
print(x)

{'banana', 'apple', 'orange', 'tomato'}

In [4]:
x.remove("apple") 
print(x)

{'banana', 'orange', 'tomato'}

In [2]:
subjects = ("physics", "chemistry", "english", "math", "biology")
type(subjects)

tuple

In [4]:
tuplelist = list(subjects)
print(tuplelist) 
type(tuplelist)

tuplelist.append("literature") 
print(tuplelist)

['physics', 'chemistry', 'english', 'math', 'biology']
['physics', 'chemistry', 'english', 'math', 'biology', 'literature']

In [5]:
length_of_tuplelist = len(tuplelist) 
print(length_of_tuplelist)

6

In [9]:
listNum = [10, 6, 7, 8, 9, 3]

sorted_listNumList = sorted(listNum) 
print(sorted_listNumList)

[3, 6, 7, 8, 9, 10]

In [11]:
listNum2 = [3, 6, 7, 8, 9, 10]
listNum2.reverse() 
print(listNum2)

[10, 9, 8, 7, 6, 3]

In [12]:
listNum2 = [3, 6, 7, 8, 9, 10]
listNum2.clear() 
print(listNum2)

[]

In [29]:
n = 15  # Initialize n to 1
while n <= 100:  # The loop will continue while n is less than or equal to 100
    print(n)  # Print the current value of n
    n = n - 3  # Increment n by 1
    if n < 1:  # If n is greater than 10, exit the loop
        break  # Exit the loop

print("The while loop ends here")

15
12
9
6
3
The while loop ends here

In [1]:
student_grades = {
    '001':{"name":"Alice", "grade": 85},
    '002':{"name":"Bob", "grade": 90},
    '003':{"name":"Charlie", "grade": 78},
    
}

student_grades.items()

dict_items([('001', {'name': 'Alice', 'grade': 85}), ('002', {'name': 'Bob', 'grade': 90}), ('003', {'name': 'Charlie', 'grade': 78})])

In [2]:
David = {
    "student_grades": "92"

}

In [3]:
print(David.get("student_grades"))

92

In [8]:
print("Before alteration: ",student_grades)

student_grades['001']="name","Alice", "grade", "85"
student_grades['002']="name","Bob", "grade", "90"
student_grades['003']="name","Charlie", "grade", "78"
student_grades['004']="name","David", "grade", "92"


print("After alteration: ",student_grades)

Before alteration:  {'001': ('name', 'Alice', 'grade', '85'), '002': '90', '003': '78', '004': '92'}
After alteration:  {'001': ('name', 'Alice', 'grade', '85'), '002': ('name', 'Bob', 'grade', '90'), '003': ('name', 'Charlie', 'grade', '78'), '004': ('name', 'David', 'grade', '92')}

In [9]:
print("Before Alteration: ","Alice")

print("Before alteration: ","Alice")

#Alteration
del Alice['student_grades']

#After alteration
print("After alteration: ", Alice)

Before alteration:  Alice

NameError: name 'Alice' is not defined

In [10]:
x1 = {"apple", "banana", "apple", "orange", "banana", "apple"}
print(x1)

{'apple', 'orange', 'banana'}